.branch-services-root{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.branch-services-grid-container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.branch-services-floating-add-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 18px;
    width: 42px;
    height: 42px;
    color: white;
    border-radius: 50px;
    background-color: #333;
    box-shadow: 0px 0px 15px 2px rgb(174, 174, 174);
    z-index: 5;
    cursor: pointer;
}