.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

.unfocus {
  top: 0px;
  left: 0px;
  z-index: 1100;
  position: fixed;
  background-color: black;
  opacity: 0.25;

  width: 100vw;
  height: 100vh;
}